{% extends "layout.html" %}

{% block title %}

    Home

{% endblock %}

{% block main %}
    <div class="section">
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares<th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td><td></td><td></td>
                    <td><strong>Cash</strong></td>
                    <td>{{cash}}</td>
                </tr>
                <tr>
                    <td></td><td></td><td></td>
                    <td><strong>TOTAL</strong></td>
                    <td><b>{{sum_total}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
